=form_tag(sessions_path, class: 'form-horizontal') do
  .control-group
    =label_tag :email,User.human_attribute_name(:email),class: 'control-label'
    .controls=email_field_tag :email,params[:email]
  .control-group
    =label_tag :password,User.human_attribute_name(:password),class: 'control-label'
    .controls=password_field_tag :password
  .control-group
    .controls
      %label.checkbox
        =check_box_tag :remember_me,1, params[:remember_me]
        =User.human_attribute_name(:remember_me)
  .form-actions
    =submit_tag "Войти",class: 'btn'
    =link_to "Регистрация",new_user_path, class: 'btn btn-info'
