.row
  .span3.center
    =show_avatar(@person,:medium)
    -if admin?
      %p
        = link_to_icon "icon-pencil icon-white","Редактировать", edit_person_path(@person),class: 'btn btn-primary'
        = link_to_icon "icon-trash icon-white","Удалить", @person, method: :delete, confirm: t("views.confirm"),class: 'btn btn-danger'
  .span6
    %p
      %h1=@person.name
      -unless @person.origin_name.blank?
        %h3=@person.origin_name
    %p=show_person_sex(@person)
    -unless @person.birthday.blank?
      %p=show_person_age(@person)
    -unless @person.produced_films.blank?
      %h4 Режиссер
      -@person.produced_films.each do |film|
        =render 'films/film', film: film
    -unless @person.films.blank?
      %h4=@person.female? ? "Актриса" : "Актер"
      -@person.films.each do |film|
        =render 'films/film', film: film