body {
  padding-top: 60px;
}

.auto_width {
  width: auto;
}

.clear {
  clear: both;
}
.gray{
  color:#999;
}

.navbar {
  .nav {
    .name {
      padding: 10px 10px 11px;
      color: #fff;
    }
  }
}

.center{
  text-align: center;
}